@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

body {
  margin: 0;
  padding: 0;
  background-color: #332f2f;
  color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
